/* CSS Quill подтягиваем глобально один раз */
@import "react-quill/dist/quill.snow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

.ql-editor {
  font-size: 1.1rem !important;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}
.post-content a:hover {
  text-decoration: underline;
}

/* React-Quill в dark mode */
.dark .ql-snow .ql-picker.ql-header .ql-picker-label::before {
  color: #a4abb8;
}

.dark .ql-snow.ql-toolbar .ql-picker.ql-header:hover .ql-picker-label::before {
  color: #06c !important;
}

.dark
  .ql-snow.ql-toolbar
  .ql-picker.ql-header
  .ql-picker-label.ql-active::before {
  color: #06c !important;
}

.dark .ql-snow .ql-stroke {
  stroke: #a4abb8;
}

/* Меняем цвет плейсхолдера */
.ql-editor.ql-blank::before {
  color: #9ca3af;
}

.dark .ql-editor.ql-blank::before {
  color: #6b7280; /* tailwind gray-500 */
}
